/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126   
License: none (public domain)   */

/**************************************** Import css *****************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('bootstrap.css');
 /*@import url('jquery-ui.css'); */

/**************************************** Css Reset *****************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;   	border: 0;   	font-size: 100%;   	font: inherit;   	vertical-align: baseline;   }
/* html,body { min-height: 100vh; } */

/******************** HTML5 display-role reset for older browsers **********************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {   	display: block;   }
body {  font-family: 'Roboto', sans-serif; color: #f5f9fd;  }
ol, ul {    list-style: none;  }
blockquote, q {    quotes: none;  }
blockquote:before, blockquote:after,  q:before, q:after {    content: '';    content: none;  }
table {    border-collapse: collapse;    border-spacing: 0; }

/************************************************************************************/
/****************************** Login Page ******************************************/
/************************************************************************************/
.login-outer { display: table;    width: 100%;    height: 100vh; }
.form-content {     display: table-cell;    vertical-align: middle;    padding: 15px; }
.login-form {  padding: 72px 58px 85px; background-color: #03a9d5 !important;	background: url(../images/Layer-7.png) no-repeat;	max-width: 555px;	border-radius: 12px;	box-shadow: -1.908px 9.816px 43px rgba(31,181,222,0.44); width: 100%; margin: 0 auto; }
.logo { padding-bottom: 55px; }
.logo a { display: inline-block; }
/* .logo img { margin-bottom: 55px; } */
.login-outer .form-control { background: inherit;  outline: none; box-shadow: none;  color: #fff;  padding-left: 0; font-weight: normal;  border: 1px solid rgba(255, 255, 255,.5);    border-top: none;    border-right: none;    border-left: none;    border-radius: 0 }
.login-outer .form-control::placeholder { color: #fff; }
.btn.btn-light { font-size: 18px; line-height: 34px;  }
/* .login-inner { padding-bottom: 85px; } */
.btn.btn-light { color: #0597d8; font-weight: 700; background-color: #fff; padding-top: 4px; width: 168px;	height: 46px; 	border-radius: 23px;	background-color: #ffffff; }
.btn.btn-light:focus, .btn.btn-light:hover, .btn.btn-light:visited, .btn.btn-light:active {  box-shadow: none !important; color:#0597d8 !important;   background-color: #dae0e5;	border-color: #d3d9df;}

/************************************************************************************/
/******************************* Dashboard Page ************************************/
/************************************************************************************/
/* Header */
header {  background-color: #03a9d5; height: 172px; z-index: 1; position: relative; }
.header-row { padding-top: 50px ;  }
.btn.btn-primary { background-color :  #03a9d5; color: #fff; border: none; }
.search-task { box-sizing: border-box; width: 192px; height: 38px; padding-left: 0; }
.search-task .form-control { font-size: 14px; line-height: 18px;	color: #fff; max-width: 192px; padding-left: 45px; height: 38px; background: url(../images/icons8-search-filled.svg) left no-repeat; background-size: 30px; background-position-x: 10px;  border-radius: 19px; background-color: rgba(255,255,255,0); border: 1px solid #94e4f3; text-align: left !important; 	font-weight: 400; }
.search-task .form-control::placeholder { color: #94e4f3; }
.search-task .form-control:-webkit-autofill {	background-color: inherit !important;	background-image: none !important;	color: #fff !important;}
.search-task .form-control:focus, .search-task .form-control:active { box-shadow: 0 0 0 0.2rem hsla(211, 100%, 98%, 0.25); outline: none; }
.user-account { height: 43px; float: right; }
.user-account img{ border-radius: 100%; /* margin-top: -8px; */ box-shadow: 0.5px 0.866px 5px rgba(0,0,0,0.11); height: 48px; width: 48px; background-color: #ffffff; }
.user-account .btn-secondary { padding: 5px 20px; position: relative; background-color: inherit !important; border: none; font-size: 13px; font-weight: 400; line-height: 17px; }
.user-account .btn-secondary:focus, .user-account .btn-secondary:active, .user-account .btn-secondary:visited { box-shadow: /*0 0 0 0.2rem hsla(211, 100%, 98%, 0.25)*/ none !important;	color: #fff;	background-color: inherit !important;	border: none; }
.user-login { vertical-align: 20px;	margin-left: 8px; }
.btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {  border-color: unset;}
.dropdown-item { font-size: 15px; line-height: 20px; }
.dropdown-item:hover, .dropdown-item:focus {     background-color: #03a9d5; color: #fff; }
.dropdown-toggle { box-sizing: border-box; height: 58px; }
.dropdown-toggle:after { border: none;    background: url(../images/arrow.svg) right center no-repeat;    position: absolute;    right: 2px;    width: 12px;    height: 12px;    top: 22px; }
.dropdown-menu:before {    border-color: rgba(194, 225, 245, 0) !important;    border-bottom-color: #fff !important;    border-width: 11px !important;    margin-left: -25px !important;    bottom: 100% !important;    left: 100%!important;    border: solid transparent;    content: " ";    height: 0;    width: 0;    position: absolute;    pointer-events: none; }
.dropdown-menu.show {  right:-8px;}

/* Dashboard-data  */
.dashboard-data{    z-index: 2;    margin-top: 35px; }
.dashboard-data .container {     height: 83px; border-radius: 3px; box-shadow: 1.21px 4.851px 40px rgba(3,179,213,0.28); padding: 25px 190px 0px; background-color: #ffffff; }
.navbar-toggler { display: none; }
.collapse:not(.show) { display: block; }
nav { display: inline-block; }
nav ul li { display: inline-grid; padding: 0 25px; font-size: 14px; line-height: 34px;  }
nav ul li a { color: #8e8e8e; font-weight: 400; }
nav ul li a:focus, nav ul li a:hover { color:  #03b9d5; outline: none; }
nav ul li:hover, nav ul li:focus { /* padding-bottom: 23px; */    border-bottom: 3px solid #03b9d5; }
nav ul li:hover a, nav ul li:focus a { text-decoration: none; color:  #03b9d5; }
nav ul li img { margin: 0 auto; }
.close span { display: none; }

/* Admin-dashboard */
.admin-dashboard {     padding-top: 65px;    background: url(../images/layer-copy.png) right bottom no-repeat;    background-color: #f6fafd; }
.admin-contact { border-radius: 4px; /* max-width: 232px; */ /* margin-right: 30px; */ /* height: 204px; */	box-shadow: 3.536px 3.536px 12px rgba(0,114,136,0.08);	background-color: #ffffff;	border: 1px solid #e8f0f7; }
.admin-contact ul li { text-align: center; width: 100%;  }
.admin-contact ul li img { width: 37px; margin-top: 30px; /* margin-bottom: 15px; */   height: 22px;    border-radius: 4px; }
.admin-contact ul li h4 { font-size: 16px;line-height: 34px;color: #17c7df;font-weight: 700; padding-bottom: 20px; }
.admin-contact ul li h2 { font-size: 32px;line-height: 34px;color: #545454;  font-weight: 300; }
.admin-contact ul li h5 { font-size: 14px;line-height: 34px;color: #a8a8a8;font-weight: 400; padding-bottom: 24px; }
.admin-orders ul li img { width: 19px; height: 24px;border-radius: 0px; }
.admin-orders ul li h4 {  color: #fea200; }
.admin-delivery ul li img { width: 29px;height: 25px; } 
.admin-delivery ul li h4 { font-size: 16px;line-height: 34px;color: #f64a32;font-weight: 700; }

/* Admin-revenue */
.admin-revenue { /* max-width: 360px; */ border-radius: 4px;box-shadow: 3.536px 3.536px 12px rgba(0,114,136,0.08);background-color: #ffffff;border: 1px solid #e8f0f7; }
.admin-revenue h5 { font-size: 16px; line-height: 20px; color: #777777;font-weight: 400; margin-top: 20px;    margin-bottom: 30px; }
.admin-revenue h4 { font-size: 20px; line-height: 24px;color: #545454;font-weight: 300; margin-bottom: 15px; }
.admin-revenue h3 { font-size: 26px; line-height: 30px;color: #545454;font-weight: 500; margin-bottom: 42px; }
.admin-revenue ul { margin-bottom: 70px; margin-left: -25px; }
.admin-revenue ul li { margin: 0 auto; }
.admin-revenue ul li h2 { font-size: 22px; line-height: 26px; }
.admin-revenue ul li:first-child h2 {  color: #03a9d5; font-weight: 300; }
.admin-revenue ul li:nth-child(2) h2 {  color:#fea200; }
.admin-revenue ul li:last-child h2 {  color: #f64a32; }
.admin-revenue ul li h2 span { display: flex; font-size: 20px; line-height: 24px; }

/* Statistics block */
.stat-block { /* max-width: 755px; */ border-radius: 4px; margin-top: -340px; box-shadow: 3.536px 3.536px 12px rgba(0,114,136,0.08);background-color: #ffffff;border: 1px solid #e8f0f7; }
.stat-block h5 { font-size: 16px; line-height: 20px; color: #777777;font-weight: 400; margin-top: 20px; }
.stat-block img { width: 710px; }

/* Text block */
.text-block { /* max-width: 362px; */ border-radius: 4px; box-shadow: 3.536px 3.536px 12px rgba(0,114,136,0.08);background-color: #ffffff;border: 1px solid #e8f0f7; margin-top: 30px ;  /* margin-right: 29px; */ }
.text-block > h5, .seller-detail > h5 { font-size: 16px; line-height: 20px; color: #777777; font-weight: 400; margin-top: 21px; }
.text-block ul {  }
.text-block ul li { display: flex; border-bottom: 1px solid #e9e9e9; padding: 15px 0; }
.text-block ul li:last-child { border-bottom: none; padding-bottom: 20px; }
.text-block ul li img { border-radius: 100%; width: 50px; height: 50px; }
.text-block ul li h3 {     padding: 8px 20px; display: grid; font-size: 14px;color: #545454;font-weight: 700; line-height: 18px; }
.text-block ul li h3 span { font-size: 14px; line-height: 18px; color: #777777;font-weight: 400; }
.text-block ul li h5 { margin-left: auto; font-size: 12px; line-height: 16px; padding-top: 8px;color: #a8a8a8;font-weight: 400; display: inline-table; }

/* Seller Detail */
.seller-detail { /* max-width: 749px; */	border-radius: 4px;	box-shadow: 1.414px 1.414px 10px rgba(0,114,136,0.08);	background-color: #ffffff;	border: 1px solid #e8f0f7; margin-top: 30px; }
.seller-detail table tbody tr td, .seller-detail table tbody tr th { padding: 15px 0;  font-size: 14px; line-height: 18px; color: #545454; }
.seller-detail table tbody tr th { font-weight: 700; padding-top: 25px; }
.seller-detail table tbody tr td { font-weight: 400; border-bottom: 1px solid #e9e9e9; } 
.seller-name { width: 400px;}
.selling { width: 100px; } 
.sell-stock { width: 100px; }
.sell-category { width: 117px; }

/* Copyrights */
.copyrights { padding: 30px 0; }
.copyrights p { font-size: 14px; line-height:18px; color: #a4b3ba;font-weight: 400; }

/******************************** Media Queries ***************************************************/
@media (max-width:1199px ) {
	/* .logo  {  margin-top: 65px; padding-bottom: 50px; } */
	/* .login-inner { padding-bottom: 75px; } */
	.dashboard-data .container { padding: 25px 142px 0px; }
	.login-form { padding-bottom: 75px; padding-top: 65px; max-width: 535px; }
	.admin-contact { max-width: 197px; }
	.admin-contact ul li h2 {    font-size: 28px;    line-height: 30px; }
	.admin-revenue h3 { font-size: 25px; line-height: 30px; }
	.admin-revenue ul { margin-left: -10px;} 
	.admin-revenue ul li h2 { font-size: 20px; line-height: 24px; }
	.admin-revenue ul li h2 span { font-size: 18px; line-height: 22px; }
	.stat-block {    max-width: 650px; }
	.stat-block img {	width: 610px;	}
	.text-block {    max-width: 300px; } 
	.text-block ul li img { width: 45px;    height: 45px;}
	.text-block ul li h3 {   padding: 6px 8px 6px 10px; }
	.text-block ul li h3, .text-block ul li h3 span {    font-size: 13px; line-height: 17px; }
	.text-block ul li h5 {    font-size: 10px; line-height: 14px; }
	.seller-detail {    max-width: 631px; }
	/* .seller-detail table tbody tr td, .seller-detail table tbody tr th {    padding: 15px 93px 15px 0; } */
}
@media (max-width:991px ) {
	.logo { padding-bottom: 45px; }
	.login-form { padding: 60px 40px 70px; max-width: 515px; }
	.login-outer .form-control { font-size: 15px; line-height: 20px; }
	.btn.btn-light {    font-size: 16px;    line-height: 30px;}
	/* .login-inner { padding-bottom: 70px; } */
	.dashboard-data .container {    padding: 25px 22px 0px;}
	.admin-contact {    max-width: 140px;    margin-right: 20px;}
	.admin-contat ul li img { margin-top: 26px; }
	.admin-contact ul li h4 {    font-size: 15px;    line-height: 28px;  padding-bottom: 15px;}
	.admin-contact ul li h2 {    font-size: 26px;  }
	.admin-contact ul li h5 {    line-height: 18px; margin-top: 6px; }
	.admin-revenue {    max-width: 240px; }
	.admin-revenue h5 { margin-bottom: 20px; }
	.admin-revenue h4 {    font-size: 18px;    line-height: 22px; }
	.admin-revenue h3 {    font-size: 23px;    line-height: 27px;    margin-bottom: 30px;}
	.admin-revenue ul {    margin-bottom: 50px; }
	.admin-revenue ul li h2 {    font-size: 18px;    line-height: 22px;}
	.admin-revenue ul li h2 span {    font-size: 16px;    line-height: 20px;}
	.layer-chart img { max-width: 210px; }
	.stat-block {    max-width: 460px; margin-top: -248px;}
	.stat-block img {    width: 428px; height: 182px;}
	.text-block { margin-top: 25px;   max-width: 225px;    margin-right: 20px;}
	.text-block ul li {  padding: 12px 0;}
	.text-block ul li h3 {    padding: 5px; padding-left: 10px;}
	.text-block ul li h3, .text-block ul li h3 span {    font-size: 12px;    line-height: 15px;}
	.text-block ul li img {    width: 42px;    height: 42px;}
	.seller-detail {   margin-top: 25px;  max-width: 475px;}
	.seller-detail table tbody tr td, .seller-detail table tbody tr th { font-size: 13px;      /* padding: 15px 59px 15px 0; */ line-height: 17px;}
}
@media (max-width:767px ) {
	.logo { padding-bottom: 39px; }
	.login-form { padding: 55px 30px 65px; max-width: 470px; }
	/* .login-inner { padding-bottom: 65px; } */
	.user-account img { height: 40px;    width: 40px;}
	.user-login {    vertical-align: 13px;    margin-left: 4px;}
	.dashboard-data .container {    padding: 25px 10px 0px;}
	nav ul li { padding: 0 12px; }
	.admin-dashboard {    padding-top: 60px; }
	.admin-contact {    max-width: 166px; }
	.admin-delivery { margin-right: 0 !important; }
	.admin-revenue { max-width: 100%; margin-top: 25px; }
	.admin-revenue h4 { display: inline-block; }
	.admin-revenue h3 { display: inline; padding-left: 20px; }
	.admin-revenue ul {   margin-bottom: 30px;}
	.admin-revenue ul li:first-child { margin-left: 15px; }
	.stat-block {    max-width: 100%;    margin-top: 25px;}
	.stat-block img {    width: 100%;    height: unset;    padding-bottom: 15px;}
	.text-block { max-width: 100%;    margin-right: 0;}
	.text-block ul li h3 {    padding: 8px 30px; }
	.seller-detail {  max-width: 100%;}
	table { margin-bottom: 10px; }
}
@media (max-width:575px ) {
	.logo { padding-bottom: 35px; }
	.login-form { padding: 50px 20px 60px; max-width: 415px; }
	.login-outer .form-control { font-size: 14px; line-height: 19px; }
	.btn.btn-light {    font-size: 15px;    line-height: 28px;}
	/* .login-inner { padding-bottom: 60px; } */
	.btn.btn-light {	width: 135px;		height: 42px; }
	.header-row { padding-top: 20px; }
	.search-task { position: absolute;    top: 69px;    padding-right: 10px;    padding-left: 10px;    width: 165px; }
	.search-task .form-control { background-position-x: 5px;     padding-left: 35px;font-size: 13px;		line-height: 17px; }
	.user-account .btn-secondary { padding: 0 15px; }
	.user-account img {    height: 38px;    width: 38px;}
	.admin-dashboard {    padding-top: 25px;}
	.admin-dashboard .row { margin-left: 0; margin-right: 0; }
	.admin-contact {    max-width: 100%;    margin-right: 0; margin-bottom: 25px; height: unset;}
	.admin-contact ul li img { margin-top: 15px; }
	.admin-delivery {    margin-bottom: 0 !important;}
	.text-block ul li h3 {    padding: 8px 25px;}
	.user-task { width: fit-content;    margin-left: auto; }
	.admin-revenue h5, .text-block > h5, .seller-detail > h5, .stat-block h5 {    font-size: 14px;    line-height: 18px; }
	.admin-revenue h4 {    font-size: 17px;    line-height: 21px;} 
	.admin-revenue h3 {    font-size: 21px;    line-height: 25px; }
	.admin-revenue ul {    margin-bottom: 20px;}
	.admin-revenue ul li:first-child {    margin-left: 10px;}
	.admin-revenue ul li h2 {    font-size: 16px;    line-height: 20px;}
	.admin-revenue ul li h2 span {    font-size: 15px;    line-height: 19px;} 
	.navbar-toggler { display: block; outline: none !important; position: absolute;    left: 50%;    right: 50%;    top: 75%; padding: 5px; border-radius: 3px; border-color: #94e4f3; }
	.navbar-toggler span { background-color: #94e4f3;    height: 2px;    width: 30px;    margin: 5px 0;    display: block; }
	.collapse:not(.show) { display: none; }
	.navbar-collapse { display: table-caption;   position: fixed !important;    left: 0;    top: 0; box-shadow: 1.21px 4.851px 40px rgba(3,179,213,0.28);   background: #fff;   width: 100%;    bottom: 0;    height: 100% !important; transition: all 0.3s;    -o-transition: all 0.3s;    -ms-transition: all 0.3s;    -moz-transition: all 0.3s;    -webkit-transition: all 0.3s; }
	.dashboard-data { margin-top: 0px; }
	.dashboard-data .container {  border-radius: 0; box-shadow: none; padding:0; background-color: #03a9d5; height: unset;}
	nav { width: 100% !important; }
	nav ul { display: inline-grid; width: 100% !important; }
	nav ul li {       display: inline;    padding: 15px 25px;     border-bottom: 1px solid #dce6e8;  }
	nav ul li a {		vertical-align: 5px; }
	nav ul li:hover, nav ul li:focus {    border-bottom: 1px solid #dce6e8 !important; outline: none; 	  color: #03a9d5 !important;}
	nav ul li:hover a, nav ul li:focus a { color: #03a9d5 !important; }
	.close { position: absolute;    left: 50%; font-size: 2rem;   top: 440px; outline: none !important; }
	.close span { display: block; } 
	.dropdown-toggle:after { right: 0; }
}